.loginContainer {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  display: flex;
  flex-direction: column;
}

.logoImg {
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.logoText {
  font-size: 30px;
  font-weight: 800;
  color: #2a9d8f;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
  color: #a7a9ac;
}

.loginBox {
  height: 300px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #3f51b5;
  color: #ffff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginForget {
  text-align: center;
  color: #3f51b5;
}

.registerButton {
  width: 50%;
  align-self: center;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #3a9d8f;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
